.box {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-size: contain;
    background: no-repeat center;
    position: relative;
}

.big .box {
    transform: skewX(25deg) rotateX(-58deg) rotateY(-10deg) rotateZ(33deg);
    top: -75px;
    left: 75px;
}

.held {
    /*border: solid 3px black;*/
    height: 200px;
    width: 200px;
    background-size: contain;
}

.holder {
    height: 200px;
    width: 200px;
    background-color: transparent;
    display: inline-block;
}

.hovered {
    background-color: #5E9949;
}

.invisible {
    display: none;
}