.overview {
    color: white;
    font-size: 3em;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.overview--item {
    margin: 1em;
}

.overview--item img {
    width: 100px;
}

.logo-header {
    font-size: 1.5em;
    font-weight: 700;
}

.label {
    font-weight: 500;
}



.overview-container {
    width: 100%;
    color: white;
    font-size: 3em;
    font-weight: 300;
    z-index: -1;
}

.overview-left {
    float: left;
    text-align: left;
}


.overview-center {
    display: inline-block;
    margin: 0 auto;
}

.overview-right {
    float: right;
}