.counter {
    display: flex;
}

.counter-title {
    display: flex;
}

.counter-title > div {
    background-color: darkred;
    width: 70px;
    margin: 1px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: white;
}

.counter > div {
    background-color: #f1f1f1;
    width: 70px;
    margin: 1px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.background {
    background-color: lightblue;
    height: 1000px
}